.map-container {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}